:root {
  color: #0b0c0c;
  background-color: #f3f2f1;
  font-family: 'GDS Transport', 'Segoe UI', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background: #f3f2f1;
}

button {
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

a {
  color: #1d70b8;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-lite {
  border-collapse: collapse;
  width: 100%;
}

.table-lite th,
.table-lite td {
  border-bottom: 1px solid #b1b4b6;
  padding: 8px 0;
}
