:root {
  font-family: 'GDS Transport', 'Segoe UI', system-ui, -apple-system, sans-serif;
  color: #0b0c0c;
}

body {
  margin: 0;
  background: #ffffff;
}

h1 {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 10px 8px;
  border-bottom: 1px solid #b1b4b6;
}
