PORT=5002
TOPIC_CONSENT=consent.events
RAW_TOPICS=employment.termination,nhs.prescriptions
VIEW_DWP_UC=views.permitted.dwp.uc
VIEW_DWP_HEALTH=views.permitted.dwp.pip
VIEW_COACH_BASIC=views.permitted.coach.basic
DEDUPE_TTL_MS=600000

KAFKA_BROKERS=127.0.0.1:29092
KAFKA_CLIENT_ID=wallet-poc
KAFKA_GROUP_ID_SUFFIX=
KAFKA_SSL=0
KAFKA_SASL=

DEBUG=0
